<div class="container tableau">
    <table class="table tbaleCss" > 
                 
        <thead> 
                <tr> 
             
                        <td class="title">Ville</td> 
                <td class="title">Nom</td> 
                <td class="title">longitude</td> 
                <td class="title">laltitude</td> 
             
                <td class="glyphicon glyphicon-pencil"  > <span (click)="newVille()" class="clicable title" >Ajouter</span> </td>
                </tr> 
        </thead> 
        <tbody *ngIf="villes"> 
                <tr  *ngFor="let v of villes._embedded.villes"> 
                
                        <td> <img width="80" src="/assets/ville.png"></td> 
                <td>{{v.name}}</td> 
                <td>{{v.longitude}}</td> 
                <td>{{v.latidude}}</td> <td>
                        <a   (click)="deleteVille(v)"   class="btn btn-danger btn-sm">
                                <span  class="glyphicon glyphicon-remove"></span>
                                </a>
                </td>
                
                <td>
                
                        <a  (click)="updateVille(v)" class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-edit"></span>
                                </a>
                </td>
                </tr> 
                
       </tbody> 
</table>
</div>